body {
  position: relative;
  font-family: 'DM Sans';
  font-weight: 700;
  font-style: normal;
  background: var(--main-bg-cl);

  html.dark & {
    background-color: var(--main-bg-cl-dark-theme);
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 375px) {
    width: 375px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }

  @media screen and (min-width: 1440px) {
    width: 1440;
  }
}
