@font-face {
  font-family: 'DM Sans', sans-serif;
  font-style: normal italic;
  font-weight: 400 700;
  font-display: swap;
  src: local("'DM Sans', sans-serif"), url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400");
}
