:root {
  // === Text and bg colors === */
  --main-text-cl-light-theme: #111111;
  --main-text-cl-dark-theme: #FFFFFF;
  --secondary-text-cl: #B4AFAF;
  --accent-cl: #4F2EE8;
  --secondary-accent-cl: #EAC645;
  --main-bg-cl: #F6F6F6;
  --main-bg-cl-dark-theme: #202024;


  //  === Other ===
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}