<header id="header" class="header">
  <div class="header__container container">
    <a href="./index.html" class="header__logo__link">
      <!-- <svg class="header__logo" width="86" height="28">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg> -->
      <svg class="header__logo" width="25" height="25">
        <use href="./images/icons.svg#icon-logo-1"></use>
      </svg>
      <svg class="header__logo" width="53" height="17">
        <use href="./images/icons.svg#icon-Book"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav__list list">
        <li class="nav__item">
          <a class="nav__link_home" href="./index.html">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link_shopping" href="./shopping-list.html "
            >Shopping list
            <svg class="" width="20" height="20">
              <use href="./images/icons.svg#icon-shopping-bag"></use></svg
          ></a>
        </li>
      </ul>
    </nav>
    <div class="header__group">
      <div class="header__togglers">
        <label class="switch">
          <input type="checkbox" class="switch-input" />
          <span class="switch-slider"></span>
        </label>
        <button type="button" class="menu__toggle" data-action="open-modal">
          <svg width="28" height="28">
            <use href="./images/icons.svg#icon-mobile-menu"></use>
          </svg>
        </button>       
          <button type="button" class="menu__toggle" data-action="close-modal">
            <svg  width="28" height="28">
              <use href="./images/icons.svg#icon-auth-close"></use>
            </svg>
        </button>
      </div>
      <button class="auth__modal-open-js registration__btnMain">
        <svg class="registration__icon-arrow" width="32" height="32">
          <use href="./images/icons.svg#icon-auth-arrow"></use></svg
        >Sign Up
      </button>
      <div class="auth-btns__wrapper">
        <button class="auth-btn__user auth-btn__user-js" type="button">
          <span class="auth-btn__icon-user-fone">
            <svg class="auth-btn__icon-user" width="20px" height="20px">
              <use href="./images/icons.svg#icon-auth-user"></use>
            </svg>
          </span>
          User
          <!-- <svg class="" width="23px" height="26px">
            <use href=""></use>
          </svg> -->
        </button>
        <button class="auth-btn__logOut auth-btn__logOut-js" type="button">
          Log out
          <!-- <svg class="" width="20px" height="20px">
            <use href=""></use>
          </svg> -->
        </button>
      </div>
    </div>
  </div>
</header>
