<header id="header" class="header">
  <div class="header__container container">
    <a href="./index.html" class="header__logo__link" aria-label="Logo">
      <svg class="header__logo" width="25" height="25">
        <use href="./images/icons.svg#icon-logo-1"></use>
      </svg>
      <svg class="header__logo" width="53" height="17">
        <use href="./images/icons.svg#icon-Book"></use>
      </svg>
      <span>Logo</span>
    </a>
    <nav class="nav">
      <ul class="nav__list list">
        <li class="nav__item">
          <a
            class="nav__link_home"
            href="./index.html"
            aria-label="Link to home page"
            >Home</a
          >
        </li>
        <li class="nav__item">
          <a
            class="nav__link_shopping"
            href="./shopping-list.html"
            aria-label="Link to Shopping list"
            >Shopping list
            <svg class="" width="20" height="20">
              <use href="./images/icons.svg#icon-shopping-bag"></use></svg
          ></a>
        </li>
      </ul>
    </nav>
    <div class="header__group">
      <div class="header__togglers">
        <label for="toggler" class="switch">
          <input
            id="toggler"
            type="checkbox"
            class="switch-input"
            aria-label="Toggle menu"
          />
          <span class="switch-slider"></span>
        </label>
        <button
          type="button"
          class="menu__toggle"
          data-action="open-modal"
          aria-label="Toggle color theme"
        >
          <svg width="28" height="28">
            <use href="./images/icons.svg#icon-mobile-menu"></use>
          </svg>
        </button>
        <button
          type="button"
          class="menu__toggle"
          data-action="close-modal"
          aria-label="Close modal"
        >
          <svg width="28" height="28">
            <use href="./images/icons.svg#icon-auth-close"></use>
          </svg>
        </button>
      </div>
      <button
        class="auth__modal-open-js registration__btnMain"
        aria-label="Registration"
      >
        <svg class="registration__icon-arrow" width="32" height="32">
          <use href="./images/icons.svg#icon-auth-arrow"></use></svg
        >Sign Up
      </button>
      <button class="auth-btn__user auth-btn__user-js" type="button">
        <span class="auth-btn__icon-user-fone">
          <svg class="auth-btn__icon-user" width="20px" height="20px">
            <use href="./images/icons.svg#icon-auth-user"></use>
          </svg>
        </span>
        <span class="auth-btn__user-text">User</span>
        <svg class="auth-btn__icon-user-arrow-down" width="23px" height="26px">
          <use href="./images/icons.svg#icon-arrow-down"></use>
        </svg>
      </button>
      <button class="auth-btn__logOut auth-btn__logOut-js" type="button">
        Log out
      </button>
    </div>
  </div>
</header>
