<div class="backdrop js-backdrop">
  <div class="modal__menu">
        <div class="modal__items">
        <button type="button" class="registration__btn" data-action="registration"><span>Sign up</span><span><svg class="arrow" width="20" height="20">
          <use href="./images/icons.svg#icon-arrow-narrow-right"></use>
        </svg></span></button>
        <div class="modal__user">
          <img src="./images/user.png" alt="user">
          <p>User name</p>
        </div>
        <nav class="modal__nav">
          <ul class="nav__list">
            <li>
              <a href="./index.html" class="nav__link nav__home"
                >Home</a
              >
            </li>
            <li><a href="./shopping-list.html" class="nav__link nav__shopping"><span>Shopping list</span><span><svg  width="20" height="20">
              <use href="./images/icons.svg#icon-uil_cart"></use>
            </svg></span></a></li>
          </ul>
        </nav>
        <button type="button" class="exit_btn" data-action="exit"><span>Log out</span><span><svg class="arrow" width="20" height="20">
          <use href="./images/icons.svg#icon-arrow-narrow-right"></use>
        </svg></span></button>
    </div>
  </div>
</div>