<!-- <button class="auth__modal-open-js registration__btn" >
    <svg class="registration__icon-arrow" width="32" height="32">
        <use href="./images/icons.svg#icon-auth-arrow"></use>
    </svg>Sign Up</button> -->
<div class="auth__backdrop is-hidden auth__modal-js">
    <div class="auth__modal">
        <form class="form" autocomplete="off">
            <div class="form__render">
                <div class="form__field">
                    <input id="username"
                    type="text" 
                    class="form__input form__input-name" 
                    name="name"
                    minlength="4"
                    pattern="^[A-Za-z][A-Za-z0-9_]{3,10}$" required />
                    <label for="name" class="form__label form__label-name">Name</label>
                    <svg class="form__icon" width="32" height="32">
                    <use href="./images/icons.svg#icon-auth-user"></use>
                    </svg>
                </div>
            </div>

            <div class="form__field">
                <input id="email"
                    type="email" 
                    class="form__input form__input-mail" 
                    name="mail"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
                <label for="mail" class="form__label form__label-mail">Email</label>
                <svg class="form__icon" width="32" height="32">
                <use href="./images/icons.svg#icon-auth-mail"></use>
                </svg>
            </div>

            <div class="form__field">
                <input id="password"
                    type="password" 
                    class="form__input form__input-password" 
                    name="password"
                    pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$" required />
                <label for="password" class="form__label form__label-password">Password</label>
                <svg class="form__icon" width="32" height="32">
                <use href="./images/icons.svg#icon-auth-password"></use>
                </svg>
            </div>

            <button type="submit" class="form__btn disabled">Sign up</button>
            <div class="form__btns">
                <button type="button" class="form__btn-up active">Sign up</button>
                <button type="button" class="form__btn-in">Sign in</button>
                <button type="button" class="form__btn-out">Log out</button>
            </div>
            <button class="auth__modal-close auth__modal-close-js">
                <svg class="auth__modal-close-icon" width="32" height="32">
                <use href="./images/icons.svg#icon-auth-close"></use>
                </svg>
            </button>
        </form>
    </div>
</div>