
    <button id="login" class="signup-btn" type="button" >Sign up</button>
    <!-- <button id="logout" class="signup-btn" type="button" data-logout>
        Log Out
    </button> -->

    <div class="modal-auth">
        <div class="modal-auth__body">
            <button class="modal-auth__closeBtn" type="button" data-modal-close>
                <!-- <svg class="modal-auth__closeIcon" width="14px" height="14px">
                    <use href=""></use>
                </svg> -->
            </button>
            <form>
                <div class="form-auth">
                    <div class="form-auth__field">
                        <label for="name">NAME</label>
                        <input type="text" id="name" name="name" placeholder=" " required>
                    </div>
                    <div class="form-auth__field">
                        <label for="email">EMAIL</label>
                        <input type="email" id="email" name="email" placeholder=" " required>
                    </div>
                    <div class="form-auth__field">
                        <label for="password">PASSWORD</label>
                        <input type="password" id="password" name="password" placeholder=" " required>
                    </div>
                </div>
                <button type="submit" class="form-auth__submitBtn" data-modal-login>Login</button>
                <div class="form-auth__button-wrapper">
                    <button type="submit" class="button-signup" data-modal-signup>Sign up</button>
                    <button type="submit" class="button-signin" data-modal-google-auth>Login with google</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal-auth__backdrop" data-modal-backdrop></div>
