<div class="popup-about-book__backdrop" data-modal>
  <div class="popup-about-book__window modal" data-modal-window>
    <button class="popup-about-book__close-btn" data-modal-close aria-label="Close modal">
      <svg class="popup-about-book__close-btn-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-x-close"></use>
      </svg>
    </button>
    <div class="popup-about-book__render-book-container">
      <img class="popup__book-image" src="#" alt="обкладинка" width="192" />
      <div class="popup__text-content">
        <h2 class="popup__book_title">#</h2>
        <h3 class="popup__book_author">#</h3>
        <p class="popup__book_review">#</p>
        <ul class="popup__shopping-links-container">
          <li>
            <a
              href="#"
              target="blank"
              rel="noreferrer noopener nofollow"
              aria-label="Link to shop"
              class="popup__shopping-links-icon amazon"
            >
              <img src="./images/shoppingList--logoAmazon--x1.png" srcset = "./images/shoppingList--logoAmazon--x2.png 2x, ./images/shoppingList--logoAmazon--x3.png 3x" alt="Logo of shop" width="62" />
            </a>
          </li>
          <li>
            <a
              href="#"
              target="blank"
              rel="noreferrer noopener nofollow"
              aria-label="Link to shop"
              class="popup__shopping-links-icon book"
            >
              <img src="./images/shoppingList--appleBook--x1.png"srcset = "./images/shoppingList--appleBook--x2.png 2x, ./images/shoppingList--appleBook--x3.png 3x" alt="Logo of shop" width="33" />
            </a>
          </li>
          <li>
            <a
              href="#"
              target="blank"
              rel="noreferrer noopener nofollow"
              aria-label="Link to shop"
              class="popup__shopping-links-icon bookShop"
            >
              <img src="./images/shoppingList--bookShop--x1.png" srcset = "./images/shoppingList--bookShop--x2.png 2x, ./images/shoppingList--bookShop--x3.png 3x" alt="Logo of shop" width="30" />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="popup-about-book__add-button">
      <button type="button" class="modal-button--add-to-shopinglist disabled" id="add" aria-label="Add card to shopping list">
        ADD TO SHOPPING LIST
      </button>
      <p class="under-btn-text">
        Congratulations! You have added the book to the shopping list. To
        delete, press the button "Remove from the shopping list".
      </p>
    </div>
  </div>
</div>
