<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="close-btn" data-modal-close>
      <svg class="close-btn-icon" width="24" height="24">
        <use href="./img/symbol-defs.svg#icon-x-close"></use>
      </svg>
    </button>
    <div class="book">  
    </div>
    <div class="submit-btn">
      <button type="button" class="modal-button--add-to-shopinglist" id='add'>ADD TO SHOPPING LIST</button>
      <p class="under-btn-text">Congratulations! You have added the book to the shopping list. To delete,
                press the button "Remove from the shopping list".</p>
    </div>
  </div>
</div>