.header {
    position: fixed;
    border: 1.5px solid #111111;
    border-radius: 0px 0px 8px 8px;
}

.header__container {
    @extend .container;

    display: flex;
    align-items: center;
      
};

.header__logo {
    margin-top: 21px;
    margin-right: 170px;
    margin-bottom: 21px;
    
    

    @media screen and (min-width: 768px) {
            margin-top: 25px;
            margin-right: 32px;
          
        };

        @media screen and (min-width: 768px) {
            margin-right: 99px;
    
        }
}
