$primary-background-color: #f6f6f6;
$white-gray-color: #f3f3f3;
$text-gray-color: #b4afaf;
$dark-color: #111111;
$blue-color: #4f2ee8;
$yellow-color: #eac645;
$white-color: #ffffff;
$cubic-time: 250ms cubic-bezier(0.17, 0.67, 0.91, 1.61);

.header {
  // display: block;
  position: fixed;
  top: 0;
  left: 0;
  // right: 0;
  z-index: 999;
  border: 1.5px solid #111111;
  border-radius: 0px 0px 8px 8px;
  width: 100%;
  background-color: var(--main-text-cl-dark-theme);

  // @media screen and (min-width: 768px) {
  //   // height: 72px;
  // }
  html.dark & {
    background-color: #111;
    border: 1.5px solid #fff;
  }
}

.header__container {
  // @extend .container;

  display: flex;
  align-items: center;
}

.header__logo {
  fill: #000;
  html.dark & {
    fill: #f3f3f3;
  }
}
.header__logo__link {
  display: flex;
  gap: 8px;
  padding-top: 18px;
  padding-bottom: 18px;
  align-items: center;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    margin-right: 0;
  }

  & span {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  // fill: rgb(0, 255, 255);
}
.header__togglers {
  display: flex;
  margin-left: auto;
  // margin-right: auto;
  align-items: center;
  gap: 14px;

  @media screen and (min-width: 768px) {
    // margin-left: auto;
  }

  @media screen and (min-width: 1280px) {
    margin-left: auto;
    // margin-right: 200px;
  }
}

//-----registration__btn-----

.registration__btnMain {
  display: none;

  position: relative;
  min-width: 184;
  height: 48;
  background-color: $blue-color;
  text-align: left;
  align-items: center;
  border: 1.5px solid $dark-color;
  border-radius: 18px;
  color: $white-color;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding-left: 14px;
  transition: background $cubic-time, box-shadow $cubic-time;

  @media screen and (min-width: 768px) {
    display: flex;
  }

  &:hover {
    background: linear-gradient(
      90deg,
      rgba(234, 198, 69, 1) 37%,
      rgba(79, 46, 232, 1) 75%,
      rgba(79, 46, 232, 1) 100%
    );
    box-shadow: 10px 17px 28px -7px $dark-color;
  }

  &:focus {
    background: linear-gradient(
      90deg,
      rgba(234, 198, 69, 1) 37%,
      rgba(79, 46, 232, 1) 75%,
      rgba(79, 46, 232, 1) 100%
    );
    box-shadow: 10px 17px 28px -7px $dark-color;
    transition: background $cubic-time, box-shadow $cubic-time,
      color $cubic-time;

    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  &:hover {
    color: $dark-color;
    background: linear-gradient(
      90deg,
      $white-color 37%,
      rgba(79, 46, 232, 1) 75%,
      rgba(79, 46, 232, 1) 100%
    );
    box-shadow: 3px 3px 28px -7px $dark-color;
  }

  &:focus {
    color: $dark-color;
    background: linear-gradient(
      90deg,
      $white-color 37%,
      rgba(79, 46, 232, 1) 75%,
      rgba(79, 46, 232, 1) 100%
    );
    box-shadow: 3px 3px 28px -7px $dark-color;
  }
}

.registration__icon-arrow {
  position: absolute;
  top: 40%;
  right: 5px;
}

.header__group {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
}

.auth-btn__user {
  display: none;
  position: relative;

  width: 184px;
  height: 48px;
  padding: 4px 12px;

  align-items: center;
  justify-content: space-between;
  gap: 5px;

  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.02em;

  color: $white-color;
  border: 1px solid $blue-color;
  border-radius: 36px;
  background-color: $blue-color;
  cursor: pointer;

  height: 45px;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.auth-btn__logOut {
  position: absolute;
  top: 100%;
  right: 0%;

    display: none;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    height: 40px;
    background-color: $white-color;
    border: 1.5px solid $dark-color;
    border-radius: 18px;
    color: $dark-color;
    cursor: pointer;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    fill: $yellow-color;
    transition: background-color $cubic-time, fill $cubic-time;

  &:hover {
    fill: $blue-color;
    background-color: $yellow-color;
  }
}

.auth-btn__icon-user-fone {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $yellow-color;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.auth-btn__icon-user {
  position: absolute;
  top: 25%;
  left: 29%;
}

.auth-btn__icon-user-arrow-down {
  fill: $white-color;
}

.auth-btn__logOut__icon-arrow {
  position: absolute;
  top: 32%;
  right: 5%;
}

.is-hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.btn-wrapper {
  position: relative;
}

