.section__home {
    // width: 1300px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 767px) {
        padding-top: 64px;
    }

    @media screen and (min-width: 768px) {
        padding-top: 72px;
    }
}



.container__home {
    display: grid;
    padding: 40px 24px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width: 375px) {
        width: 375px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width: 1280px) {
        width: 100%;
        padding-left: 24px;
        padding-right: 24px;
    }

    @media screen and (min-width: 1440px) {
        width: 1440px;
    }
}


.block__category {

    margin-right: 40px;

}

.category__home {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 472px;
    width: 356px;

    overflow-y: scroll;
    margin-bottom: 86px;
    scrollbar-width: 8px;

}

.for__support {
    // outline: 1px solid tomato;
    height: 490px;
    width: 356px;
    border-radius: 16px;
}

.category__home-item {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(17, 17, 17, 0.6);
}


.list-books__home {
    display: grid;
}



.see-more {
    margin-left: 800px;
}

.item-books__home {
    width: 996px;
    height: 426px;

}