@media screen and (max-width: 374px){
.container-home {
        display: grid;
        grid-template-columns: 1fr;
    }
};
  @media screen and (min-width: 375px) {
    .container__home{
        display: grid;
        grid-template-columns: 1fr;
    }
    
  }

  ;
@media screen and (min-width: 768px) {
   .container__home {
    grid-template-columns: 1fr 1fr;
}
.block__books{
    grid-column-start:1;
    grid-column-end: 3;
} 
.see-more{
    margin-left: 300px;
}
}

;
@media screen and (min-width: 1440px) {
.container__home {
        grid-template-columns: 1fr 2.4fr;
    }
.block__books {
    grid-column-start: 2;
    grid-column-end: 2;
}
};