.block__books-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.04em;
    text-align: left;
    color: rgba(17, 17, 17, 1);
    margin-bottom: 40px;
    
}
*.dark {
    .books__info-title,
    .block__books-title{
      color:var(--main-text-cl-dark-theme);
    }
        .category__home-itm{
            color: var(--secondary-text-cl);
        }
    .category__home-itm:hover,
        .category__home-itm:focus{
        color:var(--secondary-accent-cl);
    }
    
.js-book-categoty{
    color:var(--secondary-text-cl)
}
.button.see-more{
    color: var(--main-text-cl-dark-theme);
}
}




.block__books-colortitle {
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.04em;
    text-align: left;
    color: rgba(79, 46, 232, 1);
 
}





.books__wrapper {
    position: relative;
    border-radius: 8px;
    object-fit: cover;
    overflow: hidden;
}

.books__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.books__itm {

    :hover {
        .books__overlay {
            top: 300px;
        }
    }
}

.books__overlay {
    position: absolute;
    height: 23%;
    width: 100%;
    left: 0px;
    top: 100%;
    padding-top: 26px;
    background: rgba(234, 198, 69, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.books__overlay-text {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.04em;
    text-align: center;
    fill: rgba(17, 17, 17, 1);
}


.books__info-title {

    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    line-break: auto;
    line-clamp: 180px;
    letter-spacing: -0.04em;
    text-align: left;
    color: rgba(17, 17, 17, 1);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 4px;

}

.books__info-author {
    font-family: DM Sans;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.04em;
    text-align: left;
    color: rgba(180, 175, 175, 1);
}