





.block__books{
    margin-left: auto;
    margin-right: auto;
}
.category__home {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 472px;
    width: 318px;

    overflow-y: scroll;
    margin-bottom: 86px;
    scrollbar-width: 8px;

}

.for__support {
    
    height: 490px;
    width: 335px;
    border-radius: 16px;
}

.category__home-item {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(17, 17, 17, 0.6);
}


.list-books__home {
    display: grid;
}
.js-book-categoty{
    margin-bottom: 18px;
    width: 277px;
        height: 24px;
    
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 171% */
    
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        // color: #B4AFAF;
}



