.block__books-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.04em;
    text-align: left;
    color: rgba(17, 17, 17, 1);
    margin-bottom: 40px;
}

.block__books-colortitle {
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.04em;
    text-align: left;
    color: rgba(79, 46, 232, 1);
}

.block__books-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-row-gap: 40px;
    grid-column-gap: 24px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.books__itm {
    width: 180px;
    height: 306px;
}

.books__wrapper {
    height: 256px;
    width: 180px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 14px;
}

.books__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

// .books__overlay {

// }

// .books__overlay-text {}

// .books__info {}

.books__info-title {

    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    line-break: auto;
    line-clamp: 180px;
    letter-spacing: -0.04em;
    text-align: left;
    color: rgba(17, 17, 17, 1);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 4px;

}

.books__info-author {
    font-family: DM Sans;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.04em;
    text-align: left;
    color: rgba(180, 175, 175, 1);
}