.section__home {
    // width: 1300px;
    margin-left: auto;
    margin-right: auto;
}




.container__home {
    padding: 40px 24px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;

    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;

        @media screen and (min-width: 375px) {
            width: 375px;
        }

        @media screen and (min-width: 768px) {
            width: 768px;
            padding-left: 32px;
            padding-right: 32px;
        }

        @media screen and (min-width: 1280px) {
            width: 100%;
            padding-left: 24px;
            padding-right: 24px;
        }

        @media screen and (min-width: 1440px) {
            width: 1440;
        }
    }
}

.block__category {

    margin-right: 40px;
    // grid-column-start: 1;
    // grid-column-end: 2;
    // grid-row-start: 1;
    // grid-row-end: 3;
}

.category__home {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 472px;
    width: 356px;

    overflow-y: scroll;
    margin-bottom: 86px;
    scrollbar-width: 8px;

}

.for__support {
    // outline: 1px solid tomato;
    height: 490px;
    width: 356px;
    border-radius: 16px;
}

.category__home-itm {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(17, 17, 17, 0.6);
}

// .block__gallery {
//     height: 600px;
//     outline: 3px solid teal;
//     grid-column-start: 2;
//     grid-column-end: 2;
//     grid-row-start: 1;
//     grid-row-end: 1;
// }

// .block__books {}

// .thumb__home {
//     width: 180px;
//     height: 256px;
// }

// .book-card__home {
//     width: 100px;
//     height: 180px;
// }

// .thumb__home img {
//     width: 100%;
//     height: 100%;
// }

// .block__gallery {
//     // display: grid;
//     // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
// }

.list-books__home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

// .collection-books__home {
//     // width: 996px;
//     // height: 426px;

// }

// .block__books {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
// }

.see-more {
    margin-left: 800px;
}

.item-books__home {
    width: 996px;
    height: 426px;

}

// .info-title {
//     font-family: DM Sans;
//     font-size: 16px;
//     font-weight: 700;
//     line-height: 18px;
//     line-break: auto;
//     line-clamp: 180px;
//     letter-spacing: -0.04em;
//     text-align: left;
//     color: rgba(17, 17, 17, 1);
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     overflow: hidden;
// }