.signup-btn {
    width: 184;
    height: 48;
    background-color: rgba(79, 46, 232, 1);
    text-align: left;
    border: 1.5px solid #111111;
    border-radius: 18px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding-left: 14px;
}

.signup-btn:hover {
    background-color: rgba(234, 198, 69, 1);
}

.signup-btn:focus {
    background-color: rgba(234, 198, 69, 1);
}

.modal-auth {
    display: none;
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 335px;
    min-height: 384px;

    background: #F6F6F6;
    border: 2px solid #111111;
    border-radius: 18px;
@media screen and (min-width: 1200px) {
        max-width: 579px;
        min-height: 516px;
  }
}

.modal-auth__body {
    display: flex;
    padding: 80px 40px 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 28px;
}

.modal-auth__closeBtn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    border: none;
    background-color: transparent;
    cursor: pointer;
}

.form-auth {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.form-auth__field{
    position: relative;
    max-width: 295px;

    @media screen and (min-width: 1200px) {
    max-width: 499px;
    }
}


.form-auth__field label {
    position: absolute;
    top: 20px;
    left: 40px;
    width: 52px;
    height: 24px;

    font-size: 18px;
    line-height: 24px;

    color: #111111;
}

.form-auth__field input {
    padding-left: 30%;
    width: 100%;
    height: 64px;
    border: 2px solid #111111;
    border-radius: 40px;
    font-size: 16px;
}

.form-auth__submitBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
   
    margin-bottom: 20px;
    margin-top: 40px;

    max-width: 293px;
    height: 64px;
    font-size: 18px;
    line-height: 24px;

    background: #111111;
    color: white;
    border-radius: 40px;
    cursor: pointer;

    @media screen and (min-width: 1200px) {
            max-width: 499px;
        }

    &:hover {
    background-color: #EAC645;
  }
}

.button-signIn {
    margin-left: auto;
    margin-right: 20px;
    border: none;
    outline: none;
    background-color: inherit;
    color: rgba(17, 17, 17, 0.5);

    font-size: 18px;
        line-height: 24px;
}

.button-signWithGoogle {
    margin-right: auto;
    border: none;
    outline: none;
    background-color: inherit;
    color: rgba(17, 17, 17, 0.5); 

    font-size: 18px;
        line-height: 24px;
}


.modal-auth__backdrop {
    position: fixed;
    z-index: 998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #4F2EE8;
    display: none;
}

.modal-auth.show {
    display: block;
}

.modal-auth.show~.modal-auth__backdrop {
    display: block;
}

.form-auth__button-wrapper {
    display: flex;

}

