.nav {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        margin-top: auto;
        margin-left: auto;
        margin-right: 139px;

        padding-bottom: 27px;
    }
@media screen and (min-width: 1200px) {
    margin-right: 749px;
}
};

.nav__list {
    @media screen and (min-width: 768px) {
        display: flex;
        gap: 40px;
        align-items: center;
    }
}

.nav__link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;

    align-items: center;

    color: #FCFCFC;

    transition: color var(--timing-function);

    &:hover,
    &:focus {
        color: #F8D24E;
    }
}
    