.nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 48px;
    // margin-right: 156px;
    // margin-top: auto;
    // margin-right: 139px;
  }

  @media screen and (min-width: 1440px) {
    margin-left: 99px;
  }
}

.nav__list {
  @media screen and (min-width: 768px) {
    display: flex;
    // flex-direction: row;
    gap: 32px;
    align-items: center;
  }

  @media screen and (min-width: 1280px) {
    gap: 40px;
  }
}

.nav__link_home {
  display: block;
  // margin-top: 27px;
  // margin-bottom: 27px;
  padding-top: 26px;
  padding-bottom: 26px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: var(--main-text-cl-light-theme);

  html.dark & {
    background-color: #111;
    color: #ffffff;
  }
}

.nav__link_shopping {
  //   position: relative;
  display: flex;
  gap: 7px;
  align-items: center;
  //   margin-top: 27px;
  //   margin-bottom: 27px;
  padding-top: 26px;
  padding-bottom: 26px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: var(--main-text-cl-light-theme);

  @media screen and (min-width: 768px) {
    // padding-top: 19px;
    // padding-bottom: 19px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  html.dark & {
    color: #fff;
    fill: #fff;
  }
}
.current__page {
  padding: 8px 16px;
  width: 72px;
  height: 34px;
  background-color: var(--secondary-accent-cl);
  border-radius: 36px;

  font-weight: 700;
  html.dark & {
    background-color: var(--secondary-accent-cl);
    color: rgb(0, 0, 0);
  }
}
.current__page__shop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 16px;
  gap: 8px;

  width: 156px;
  height: 34px;

  // background: #EAC645;
  border-radius: 36px;
  background-color: var(--secondary-accent-cl);

  font-weight: 700;
  html.dark & {
    background-color: var(--secondary-accent-cl);
    color: #111;
    fill: #111;
  }
}
