.nav {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        margin-top: auto;
        margin-right: 139px;
    }

@media screen and (min-width: 1280px) {
    margin-right: 749px;
}
};

.nav__list {
    @media screen and (min-width: 768px) {
        display: flex;
        gap: 32px;
        align-items: center;
    }
}

.nav__link {
    position: relative;
    display: block;
    margin-top: 27px;
    margin-bottom: 27px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    
    color: var(--main-text-cl-light-theme);

.nav &:hover,
.nav &:focus {
        background-color: var(--secondary-accent-cl);
    }
}
    