.nav {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        margin-top: auto;
        margin-left: auto;
        margin-right: 139px;

        padding-bottom: 27px;
    }
@media screen and (min-width: 1200px) {
    margin-right: 749px;
}
};

.nav__list {
    @media screen and (min-width: 768px) {
        display: flex;
        gap: 40px;
        align-items: center;
    }
}

.nav__link {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    
    color: #111111;

    &:hover,
    &:focus {
        background-color: #EAC645;
    }
}
    