.popup-about-book__backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
}

.is-active {
    visibility: visible;
    opacity: 1;
}

.popup-about-book__window {
    position: relative;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    width: 336px;
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 40px;
    background-color: #fff;
    border: 1px solid #111;
    border-radius: 20px;

    @media screen and (min-width: 768px) {
            padding: 40px;
            width: 579px;
        }

    html.dark & {
                border-color: #ffffff;
                background-color: #202024;
            }
}

.popup-about-book__render-book-container {
    gap: 24px;

    @media screen and (max-width:767px) {
            align-items: center;
        }
    
    @media screen and (min-width: 768px) {
            display: flex;
        }
        
}

.popup__book-image {
    object-fit: contain;
    align-items: stretch;
    width: 287px;
    margin-bottom: 14px;

    @media screen and (min-width:768px) {
                width: 192px;
            }
}

.popup__text-content {
    width: 279px;
    justify-content: flex-start;
}

.popup__book_title {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.04em;
    color: #111111;
    margin-bottom: 8px;

    @media screen and (min-width:768px) {
                font-size: 24px;
                line-height: 28px;
        }

    html.dark & {
                color: #ffffff;
            }
}

.popup__book_author {
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.04em;
    color: #B4AFAF;
    margin-bottom: 18px;

    @media screen and (min-width:768px) {
                font-size: 14px;
                line-height: 18px;
                margin-bottom: 20px;
            
        }
}

.popup__book_review {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.04em;
    color: #111111;
    margin-bottom: 14px;

    @media screen and (min-width:768px) {
                margin-bottom: 20px;
        }

    html.dark & {
                color: #ffffff;
            }
}

.popup__shopping-links-container {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    gap: 20px;
    text-align: center;
    align-items: center;
}

.popup__shopping-links-icon {
    filter: grayscale(100%);

    html.dark &.amazon {
            filter: brightness(0) invert(1);
        }
}


.modal-button--add-to-shopinglist {
    margin-top: 40px;
    border: 2px solid #4F2EE8;
    border-radius: 50px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #111111;

    @media screen and (min-width:768px) {
                width: 499px;
                font-size: 18px;
                line-height: 24px;
        }

    html.dark & {
                color: #ffffff;
                background-color: #202024;
                &:hover{background-color: #4F2EE8;}
            }
}

.modal-button--add-to-shopinglist:hover {
    color: #fff;
    background-color: #4F2EE8;
}

.popup-about-book__close-btn {
    padding: 0;
    position: absolute;
    top: 12px;
    right: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: none;
    fill: #111;

    @media screen and (min-width:768px) {
                top: 24px;
                right: 24px;
        }

    html.dark & {
                background-color: #202024;
                fill: #ffffff;
                &:hover {
                        fill: #4F2EE8;
                    }
            }
}

.popup-about-book__close-btn:hover {
    fill: #4F2EE8;
}

.popup-about-book__close-btn-icon{
    width: 24px;
    height: 24px;

    @media screen and (min-width:768px) {
                width: 28px;
                height: 28px;
        }
}

.popup-about-book__add-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.under-btn-text {
    width: 242px;
    margin-top: 8px;
    color: rgba(17, 17, 17, 0.5);
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: -0.04em;

    @media screen and (min-width:768px) {
                width: 324px;
                font-size: 12px;
                line-height: 14px;
        }

    html.dark & {
            color:rgba(255, 255, 255, 0.5);
        }
}