.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  /* фоновый цвет элемента */
  background: var(--main-bg-cl);
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;

  html.dark & {
    background-color: var(--main-bg-cl-dark-theme);
  }

  &.books {
    position: absolute;
  }
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;

  .preloader.books & {
    top: 35vh;
    margin-top: 0;
  }
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;

  &:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  // transition: 0.3s opacity;
  opacity: 1;
}

.loaded .preloader {
  display: none;
}
