.supportes {
  display: none;
  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );
  box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
  border-radius: 16px;
  overflow: hidden;

  width: 335px;
  height: 352px;

  &_title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_heading {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.04em;
    color: #ffffff;
    margin-right: 12px;
    margin-top: 24px;
    margin-bottom: 0;
  }

  &_img {
    filter: brightness(0) invert(1);
    display: inline-block;
    vertical-align: middle;
  }

  &_number {
    display: inline-block;

    font-family: 'DM Sans';
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #ffffff;

    margin-right: 16px;
    margin-left: 10px;
  }

  &__icon {
    width: 20;
    height: 32;
  }

  &__item {
    display: flex;
    gap: 16px;
    align-items: center;
  }
  &__btn {
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32;
    min-height: 32;
    border: none;
    border-radius: 50;
    background-color: #ffffff;
    transform: rotateX(0);
    transition: transform 0.5s ease-in-out;
  }

  &__btn--up {
    transform: rotateX(180deg);
  }

  &__btn.hidden {
    display: none;
  }

  &__btn-icon {
    width: 22;
    height: 22;
  }
}
.swiper {
  margin-bottom: 16;
}

@media screen and (min-width: 768px) {
  .supporters {
    max-height: 472px;
    padding-bottom: 14px;
  }

  .swiper {
    margin-bottom: 32;
  }

  .supporters__btn {
    width: 38;
    min-height: 38;
  }
}

@media screen and (min-width: 1440px) {
  .supporters {
    width: 356;
    max-height: 490px;
    padding-bottom: 24px;
  }

  .swiper {
    margin-bottom: 40;
  }

  .supporters__btn {
    width: 38;
    min-height: 38;
  }
}

.wrapper {
  display: flex;
  align-items: center;
}

// #fonds {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   gap: 20px;

//   margin-top: 40px;
//   margin-left: 40px;
// }
