.supporters {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 24 40 20;
  width: 335px;
  max-height: 352;
  border-radius: 16px;
  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );
}

.supporters__title {
  display: flex;
  gap: 12px;
  margin-bottom: 40;
  margin-left: auto;
  margin-right: auto;
}

.supporters__heading {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.04em;

  color: #ffffff;
}

.supporters__icon {
  width: 20;
  height: 32;
}

.supporters__item {
  display: flex;
  gap: 16px;
  align-items: center;
}

.supporters__number {
  display: inline-block;
  font-weight: 400;
  font-family: 'DM Sans';
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: #ffffff;

  margin-right: 16px;
}

.supporters__img {
  filter: brightness(0) invert(1);
  display: inline-block;
  vertical-align: middle;
  height: 32px;
}

.supporters__btn {
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32;
  min-height: 32;
  border: none;
  border-radius: 50;
  background-color: #ffffff;
  transform: rotateX(0);
  transition: transform 0.5s ease-in-out;

  & span {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

.supporters__btn--up {
  transform: rotateX(180deg);
}

.supporters__btn.hidden {
  display: none;
}

.supporters__btn-icon {
  width: 22;
  height: 22;
}

.swiper {
  margin-bottom: 16;
}

@media screen and (min-width: 768px) {
  .supporters {
    max-height: 472px;
    padding-bottom: 14px;
  }

  .swiper {
    margin-bottom: 32;
  }

  .supporters__btn {
    width: 38;
    min-height: 38;
  }
}

@media screen and (min-width: 1200px) {
  .supporters {
    width: 356px;
    max-height: 490px;
    padding-bottom: 24px;
  }

  .swiper {
    margin-bottom: 40;
  }

  .supporters__btn {
    width: 38;
    min-height: 38;
  }
}

// .wrapper {
//   display: flex;
//   align-items: center;
// }

// #fonds {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   gap: 20px;

//   margin-top: 40px;
//   margin-left: 40px;
// }
